# Google Earth Engine & Cloud Configuration
# Replace with your Google Cloud Project ID registered with Earth Engine
GEE_PROJECT=your-google-cloud-project-id

# Application Server Configuration
FLASK_DEBUG=True
PORT=5000
HOST=127.0.0.1
